:root {
	--black: hsl(0, 0%, 0%);
	--pink: hsl(0, 100%, 70%);
	--bgc-burger: hsla(0, 0%, 100%, 0.5);
	--text: hsl(234, 30%, 18%);
	--blue: hsl(191, 100%, 40%);
	--bgc-blue: hsl(194, 57%, 95%);
	--bgc-years-main-page: #142850;
	--bgc-years-page: hsl(0, 100%, 74%);
	--subtitle: hsl(210, 14%, 58%);
}
