@use "../../utilities/" as u;
.recent-posts {
	background-color: var(--bgc-blue);
	padding: 0.4375rem 0rem 2rem 0rem;

	@include u.breakpoint-down(MOBILE) {
		padding: 0rem 0rem 2.375rem 0rem;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include u.breakpoint-down(MOBILE) {
			justify-content: center;
		}
	}
	&__view-all {
		color: var(--blue);
		flex: 0 0 auto;
		@include u.breakpoint-up(TABLET) {
			&:hover {
				text-decoration: underline;
			}
		}
		@include u.breakpoint-down(MOBILE) {
			display: none;
		}
	}

	&__items {
		display: flex;
		gap: 1.25rem;

		@include u.breakpoint-down(MOBILE) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 0 1 50%;
	}

	&__item {
		background-color: var(--white);
		padding: 1.5rem 1.375rem 1.75rem;
		border-radius: 0.25rem;
		box-shadow: 0rem 0.25rem 0.625rem 0rem var(--shadow-posts);
		height: 100%;

		@include u.breakpoint-down(MOBILE) {
			padding: 0.75rem 1.25rem 1.375rem;
		}
	}
}
.recent-post {
	&__link {
		display: inline-block;
		font-size: 1.625rem;
		font-weight: 700;
		line-height: 146%;
		margin: 0rem 0rem 1.0625rem 0rem;
		color: inherit;
		transition: color 0.5s ease 0s;

		@include u.breakpoint-up(TABLET) {
			&:hover {
				color: var(--pink);
			}
		}
		@include u.breakpoint-down(MOBILE) {
			margin: 0rem 0rem 0.75rem 0rem;
			line-height: 136.364%;
			font-size: 1.375rem;
		}
	}

	&__info {
		line-height: 144%;
		margin: 0rem 0rem 1.1875rem 0rem;
		font-size: 1.125rem;
		& span {
			margin: 0 1.25rem;
			@include u.breakpoint-down(MOBILE) {
				margin: 0 0.625rem;
			}
		}
		@include u.breakpoint-down(MOBILE) {
			margin: 0rem 0rem 1.1875rem 0rem;
			font-size: 1rem;
		}
	}
}
